
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/paveiksliukas.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
}



h1 {
    font-size: 2.5em;
    color: #4CAF50; /* Ryškiai žalia */
    text-align: center;
    margin-top: 50px;
}


ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


li {
    background-image: url('/static/images/paveiksliukas.jpg');
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    width: 30%;
    box-sizing: border-box;
    max-width: 30%;
    text-align: center;
}


li:hover {
    transform: scale(0.8);
}


@media (max-width: 768px) {
    li {
        width: 45%;
    }
}

@media (max-width: 480px) {
    li {
        width: 100%;
    }
}

li strong {
    font-size: 1.6em;
    color: #2196F3; /* Ryškiai mėlyna */
    margin-bottom: 10px;
}

li p {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #555; /* Tamsiai pilka spalva aprašymams */
}


form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #2196F3; /* Ryškiai mėlyna rėmelio spalva */
}

button, .pagination-button {
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #4CAF50; /* Ryškiai žalia */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover, .pagination-button:hover {
    background-color: #45a049; /* Tamsesnė žalia spalva */
    transform: scale(1.05); /* Mygtuko padidinimas */
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination-button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #FFC107; /* Geltona */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination-button:hover {
    background-color: #ffb300; /* Tamsesnė geltona */
    transform: scale(1.05);
}

.action-button {
    padding: 5px 10px;
    font-size: 0.8em;
    background-color: #607D8B; /* Tamsiai pilka/mėlyna */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}

.action-button:hover {
    background-color: #455A64; /* Tamsesnė versija */
    transform: scale(1.05);
}

/* Puslapio numeris */
.current {
    font-size: 1.1em;
    color: white;
    margin: 0 10px;
}


.stats-button {
    margin-top: 30px;
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #FFC107; /* Geltona */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
}

.stats-button:hover {
    background-color: #ffb300; /* Tamsesnė geltona */
}


.sort-select {
    margin-top: 20px;
    text-align: center;
}

select {
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

select:focus {
    border-color: #2196F3; /* Ryškiai mėlynas rėmelis pasirinkus */
}
